{% extends 'base.html' %}

{% block titulo %}
    Home
{% endblock %}

{% block conteudo %}
    <div>
        <header class="h-100 p-5 text-white bg-dark text-center justify-content-center align-items-center">
            <h1 class="display-5 fw-bold">App Market</h1>
            <p class="fs-4">Bem Vindo à aplicação. Para acessar a página de produtos, clique no botão abaixo.</p>
            <a class="btn btn-success" type="button" href="{{url_for('page_produtos')}}" >Ver Produtos</a>
        </header>
    </div>
{% endblock %}